body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 18px;
    width: 1200px;
    margin: 0 auto;
}
h1 {
    font-size: 48px;
    text-align: center;
}
table.author {
    font-size: 24px;
    text-align: center;
    width: 600px;
    margin-bottom: 24px;
}
table.affiliation {
    font-size: 18px;
    text-align: center;
    width: 600px;
    margin-bottom: 18px;
}
table.material {
    font-size: 18px;
    text-align: center;
    width: 600px;
    margin-bottom: 18px;
}
div.graphical-abstract {
    text-align: center;
}
div.graphical-abstract img {
    width: 600px;
}
div.abstract {
    margin: 0 auto;
}
div.abstract p {
    width: 80%;
    margin: 0 auto;
}